@model IEnumerable<ToDoList.Models.ToDo>

@{
    ViewBag.Title = "Index";
}

<h3><strong>To-Do</strong>. An app for listing all your tasks.</h3>
<img src="~/Images/check_mark.png" width="60" height="50" alt="check mark" />